b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules
bower_components
public/style.css
public/script.js
public/sprite.png
public/bootstrap.css.map
script/*.js
style/*.css
style/sprite.styl


.idea/
*.iml

